subscription_id     = "YOUR-SUBSCRIPTION-ID"
resource_group_name = "rg-shop-production"
app_name            = "shop-production-YOUR-UNIQUE-SUFFIX"
container_image     = "YOUR-DOCKERHUB-USERNAME/pro2004-store-api:initial"
location            = "westeurope"
tags = {
  owner = "YOUR-NAME"
}
